
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-push-3" style="color:green;text-align:center">
            <p><h5>Đặt hàng thành công</h5></p>
            <p>Đơn hàng sẽ được giao sớm nhất </p>
            <p>Liên hệ : 098888888888</p>
            <p>Cảm ơn bạn đã tin tưởng và mua hàng của chúng tôi !!</p>
        </div>
    </div>
</div>

